<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <envs>
      <env name="APP_DB" value="app-db" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="org.example.Main" />
    <module name="fsdb" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="main.org.example.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>